
.sidebar {
    width: 25%;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    position: absolute;
    right: 0;
    top: 10%;
}

.optionButton {
    margin-top: 15px;
    width: 100%;
    padding: 18px;
    background: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 1.1rem;
    background-color: #d7d5d5;
    transition: 0.2s;
    margin-bottom: 10px;
}

.optionButton:hover {
    background: #ddd;
    transition: 0.3s;
    transform: translateY(-4px);
}

.selectedButton {
    background-color: #2ef092;
    margin-top: 15px;
    width: 100%;
    padding: 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.content {
    padding: 20px;
    width: 70%;
}

.closeButton {
    margin-top: 20px;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

.overlay_blockImport { 
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup_header {
    position: fixed;
    height: fit-content;
    width: 50%;
    top: -22.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    border-radius: 10px;
    display: flex;
    flex-direction: row; /* Mantém os elementos lado a lado */
    justify-content: space-between; /* Ajusta o layout */
    align-items: center;
    position: relative;
}

.popup_message_header { 
    font-size: 2.5vh;
    font-weight: 500;
    font-family: 'Inter';
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.popup_buttonExit { 
    height: 30px;
    border: 0;
    font-family: 'Inter';
    background-color: #ffffff;
    font-size: 2vh;
    font-weight: 530;
    text-align: baseline;
    margin-bottom: 10px;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup_buttonExit:hover { 
    color: #f84a4a;
}

.popup_headerComparison {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 65%;
    padding: 10px;
    margin-left: 2.5vw;
}

.popup_headerColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.popup_HeaderValues {
    margin: 5px 0;
    font-family: 'Inter';
    font-size: 2vh;
    text-align: center;
}

.popup_confirm_button {
    margin-top: 20px;
    background-color: #c2fbd7;
    border-radius: 10px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.popup_confirm_button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  
.popup_cancel_button{ 
    margin-top: 20px;
    margin-right: 25px;
    background-color: #fcb7b7;
    border-radius: 10px;
    color: rgb(255, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.popup_cancel_button:hover { 
    box-shadow: rgba(248, 129, 129, 0.357) 0 -25px 18px -14px inset,rgba(252, 152, 152, 0.25) 0 1px 2px,rgba(255, 157, 157, 0.25) 0 2px 4px,rgba(187, 44, 44, 0.25) 0 4px 8px,rgba(187, 44, 44, 0.25) 0 8px 16px,rgba(187, 44, 44, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.popup_buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}
