.p { 
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar { 
    display: flex;
    justify-content: space-between;
    background-color: #000b1f;
    /* padding: 2em; */
}

.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.responsive { 
    max-width: 250px;
    width: 100%;
    height: auto;
}

.responsiveCpaLogo { 
    max-width: 400px;
    height: auto;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
}

.item { 
    margin-right: 2em;
    font-size: 1.3rem;
}

.item a { 
    position: relative;
    color: #fff;
    text-decoration: none;
}

.item a::before { 
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.item a:hover::before { 
    width: 100%;
}