.containerGerarRelatorio { 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 1000px;
    flex-direction: column;
    padding-top: 25px;
}

.containerIntro{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    text-align: justify;
}

.containerIntro_tituloPagina { 
    font-size: 3rem;
    font-family: 'Inter';
    font-weight: 600;
    margin-bottom: 10px;
}

.containerIntro_infos { 
    font-size: 1.5rem;
    font-family: 'Inter';
    color: #828282;
}

.containerInstrumento { 
    display: flex;
    align-items: center;   
    flex-direction: column; 
}

.containerRelatorioEsp { 
    margin-top: 100px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.containerRelatorioEsp_escolhaComponentesRelatorio_IntroConcl { 
    width: 40%;
    background-color: #D9D9D9;
    padding: 30px;
    border-radius: 10px;
}

.containerRelatorioEsp_escolhaComponentesRelatorio_Ano { 
    width: 40%;
    background-color: #D9D9D9;
    padding: 30px;
    border-radius: 10px;
}

.containerButton { 
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 130px;
}

.buttonGerarRelatorio { 
    margin-top: 10vh;
    list-style: none;
    width: 30%;
    height: 3.5em;
    background-color: #00ff77;
    color: rgb(0, 0, 0);
    border: 2px solid currentColor;
    border-radius: 7px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1em;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    will-change: transform;
    z-index: 0;
    transition: 0.2s ease-in-out;
}

.buttonGerarRelatorio::after { 
    background-color: #54ff8a;
    border-radius: 7px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.buttonGerarRelatorio:hover::after{
    transform: translate(0, 0);
}

.buttonGerarRelatorio:hover{
    border: 2px solid #000;
    color: #000000;
    transform: scale(1.05);
    will-change: transform;
    cursor: pointer;
}

.containerRelatoriosZip{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1vh;
    width: 100%;
    height: 50vh;
    margin-bottom: 5vh;
}

.downloaded_zip_box{
    background-color: #000b1f;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    height: auto;
    padding: 1rem;
    padding-bottom: 5vh;
}

.downloaded_zip_box_title{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 15px;
    margin-bottom: 0;
}

.downloaded_zip_box_text {
    color: #fff;
    margin-left: 20px;
} 

.button_refresh { 
    width: fit-content;
    background-color: #000b1f;
    padding: 5px;
    border-radius: 5px; 
    margin-top: 10px; 
    border-style: none;
    border: 1px solid #fff;
    color: #fff;
}   

.button_refresh:hover { 
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.downloaded_zip_box_text { 
    color: #fff;
    margin-right: 20px;
}

.downloaded_zip_table { 
    width: 100%;
    color: #fff;
    border: 1px solid #fff;
    padding-left: 10px;
}

.header_table{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.tuple_table{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.table_body { 
    display: flex;
}

.button_download { 
    background-color: #00ff77;
    color: rgb(0, 0, 0);
    border: 2px solid currentColor;
    border-radius: 7px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1em;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    will-change: transform;
    z-index: 0;
    transition: 0.2s ease-in-out;
    padding: 10px;
    margin-right: 10px; 
}

.button_download:hover{
    background-color: #0ec447;
    cursor: pointer;
}

.button_delete { 
    background-color: #f74a4a;
    border: 0;
    border-radius: 7px;
    width: 3.5vw;
}

.button_delete:hover { 
    background-color: #ee1212;
    cursor: pointer;
}


.errorMessage { 
    color: #c75c5c;
}

.overlay { 
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup { 
    position: fixed;
    height: 10%;
    width: 20%;
    top: 40%;
    right: 30%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solic #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    border-radius: 10px;
    text-align: justify;
}

.popup_message { 
    font-size: 1.10vw;
    font-weight: 500;
    font-family: 'Inter';
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.popup_buttonExit { 
    border-radius: 50%;
    background-color: transparent; 
    border: 0;
    color:#c75c5c;
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 530;
    text-align: right;
    margin-bottom: 10px;
}

.popup_buttonExit:hover {
    color:#a11515; 
    cursor: pointer;
}