.home { 
    min-height: 1000px;
    width: 100%;
}


.inicio { 
    padding-top: 4em;
    width: 60vw;
    color: #fff;
}

.tituloInicio {
    font-size: 50px; 
    font-weight: 700;
    text-align: center;
    /* font-family: 'Inter'; */
    margin-bottom: unset;
}

.intro { 
    color:rgb(188, 188, 188);
    text-align: justify;
    text-justify: inter-word;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 24px;
}

.sessions { 
    /* padding-top: 6em; */
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}

.sessionBox_right { 
    background-color: #e1e1e2;
    padding: 2em;
    width: 40%;
    height: 18em;
    margin: 2%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sessionBox_left { 
    background-color: #D9D9D9;
    padding: 2em;
    width: 50%;
    height: 30vh;
    margin: 2%;
    border-radius: 2em;
    transition: all 0.3s ease;
    align-self: flex-start;
}

.tag { 
    text-align: start;
    font-family: 'Inter';
    font-size: 2rem;
    font-weight: 600;
    margin: 0px;
    padding-top: 10px;
    padding-left: 10px;
}

.resume {
    font-size: 24px;
    color: #828282;
    text-align: start;
    padding-left: 10px;
}

.homeButton { 
    list-style: none;
    width: 30%;
    height: 3.5em;
    background-color: #D9D9D9;
    color: black;
    margin: 10px;
    padding:0;
    border: 2px solid currentColor;
    border-radius: 7px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1rem;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    will-change: transform;
    z-index: 0;
    transition: 0.2s ease-in-out;
    align-self: flex-start;
}

.homeButton::after { 
    background-color: black;
    border-radius: 7px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.homeButton:hover::after{
    transform: translate(0, 0);
}

.homeButton:hover{
    border: 2px solid transparent;
    color: #D9D9D9;
    transform: scale(1.05);
    will-change: transform;
    cursor:pointer;
}

Link { 
    text-decoration: None;
}

.session_infos{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: 50vh; */
    background-color: #000b1f;
    color: #fff;
}

.session_infos_text { 
    /* width: 50%; */
    /* text-align: justify; */
    flex: 1;
    display: flex;
    font-size: 1.3rem;
    margin-left: 6%;
    line-height: 1.5em;
    align-self: flex-start;
    max-width: 50%;
    margin-top: 0;
    flex-direction: column;
}

.session_infos_cpa {
    width: 90%; 
    align-items: center;
    justify-content: flex-start;
    display: flex;
    padding: 20px;
}

.session_infos_text_item{
    margin-bottom: 15px;
}

.inicio_checklist { 
    list-style-type: none;
}


/* .inicio_checklist_item { 
    
} */



