.containerProgresso { 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerIntroducao { 
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerIntroducao_tituloPagina { 
    font-size: 3rem;
    font-family: 'Inter';
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10%;
}

.containerIntroducao_textoIntro { 
    font-size: 1.5em;
    font-weight: 400;
    text-align: justify;
    color: #828282;
}

.containerProcessando { 
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(231, 228, 228);
}

.containerProcessando_titulo { 
    font-size: 3rem;
    margin-bottom: 0;
}

.containerProcessando_nomeInstrumento { 
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.containerAnimation { 
    margin: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.circleAnimation { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.waveAnimation { 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkList { 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-justify: auto;
    margin-bottom: 5vh;
    margin-top: 0;
    padding-top: 0;
    width: 50%;
}

.itemCheckList_finalizado { 
    width: 100%;
    font-size: 1.5rem;
    margin: 15px;
    background-color: #8BFFAD;
    padding: 15px;
    border-radius: 10px;
}

.itemCheckList_pendente { 
    width: 100%;
    font-size: 1.5rem;
    margin: 15px;
    background-color: #FFE87A;
    padding: 15px;
    border-radius: 10px;
}

.itemCheckList_erro { 
    width: 100%;
    font-size: 1.5rem;
    margin: 15px;
    background-color: #FF7272;
    padding: 15px;
    border-radius: 10px;
}